<div class = "app-container">
 <div class = "main-container">
    <div class = "image-container">
      <img src = "/images/emojis/smile.svg">
    </div>
    <div class = "content-container">
      <h3> <strong> You're already a {{become}} member !</strong> </h3>
    </div>
  </div>
</div>